extends login

block content
  .msg
    h1 Galaxy Conquer

    h2 Unauthorized

    p Your E-mail is not in the white list.

    p Maybe the game admin has used another email for you. There is no harm
      | in asking!

