extends login

block content
  .msg
    h1 Galaxy Conquer

    h2 Login link sent!

    p We have just sent you an email with the link to access your
      | your account.

    p You can now close this tab, and then click on that link.

    p Have fun!
