@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'),
       local('Ubuntu-Bold'),
       url(/fonts/ubuntu-bold.woff) format('woff');
}

body, h1, h2, h3, h4, h5, h6
  font-family 'Ubuntu'

canvas
  border 1px solid purple
  width 100%
  max-width 600px

textarea.codeArea
  font-family mono
  
