@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'),
       local('Ubuntu-Bold'),
       url(/fonts/ubuntu-bold.woff) format('woff');
}

body, h1, h2, h3, h4, h5, h6
  font-family 'Ubuntu'
  background-color #444
  color lightgreen

.navbar
  border 0
  background-color #333
  border-bottom 1px solid

  a, a:hover
    color #777 !important

canvas
  border 1px solid #888
  width 100%
  max-width 600px
  background-color #333

textarea.codeArea
  font-family mono
  background-color #333
  border 2px solid green
  padding .5em

input.form-control
  background-color #444
  border 2px solid green
  border-bottom 0
  color lightgreen

input[type=submit]
  background-color #333
  border 2px solid green
  font-size 125%
  padding .5em
  
#viewerContainer
  display inline-flex
  max-width 100%

  #viewer
    width 600px
    margin-right 1em
  #legend
    padding 1em
    border 1px solid #888
    width 100%
    max-width 600px
    background-color #333

    td
      padding .2em
      text-align right

#historyContainer
  display block
  ul
    list-style none
    padding 0

    li
      overflow hidden
      word-wrap break-word

