@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/fonts/ubuntu.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'),
       local('Ubuntu-Bold'),
       url(/fonts/ubuntu-bold.woff) format('woff');
}

body, h1, h2, h3, h4, h5, h6
  font-family 'Ubuntu'
  background-color #444
  color lightgreen

canvas
  border 1px solid purple
  width 100%
  max-width 600px
  background-color #333

textarea.codeArea
  font-family mono
  background-color #333
  border 2px solid green
  padding .5em

input[type=submit]
  background-color #333
  border 2px solid green
  font-size 125%
  padding .5em
  
